.devis-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    max-width: 40vw;
    margin: 0px auto 0 auto;
    padding-bottom: 65px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.info-form {
    color: #5e5e5e;
    font-size: 12px;
}

h2 {
    padding-top: 50px;
    color: #353031;
    margin-top: 0px;

}

label {
    display: block;
    margin-bottom: 5px;
}

.input-radio {
    width: 10%;
}

textarea {
    width: 100%;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input {
    width: 80%;

}

label {
    color: #353031;
}

div {
    margin-bottom: 0px;
}

button {
    background-color: #039DB5;
    color: #353031;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #037b8d;
    border: 1px solid #353031;
}
.devis p {
    font-size: 16px;
    line-height: 20px;

}
p {
    justify-content: center;
    align-items: center;


}

/* Responsive styles for mobile */
@media screen and (max-width: 600px) {
    form {
        max-width: 100%;
        margin: 0px 20px 0px 20px;
    }

    .input-width {
        width: 60%;
        margin-left: 15px;
    }

    textarea {
        width: 80%;
        margin: 10px auto 10px 20px;
    }

    label {
        /* margin-left: 10px; */
        /* width: 100%; */
        margin-bottom: 10px;
        margin: 5px 0 10px 0;
    }

    input {
        margin: 5px auto 5px 20px;

    }

    .info-form {
        margin: 10px;

    }

    h1 {
        margin-left: 20px;

    }

    h2 {
        margin-top: 20px;
    }

    .mtb {
        margin: 10px 0 10px 0;
    }

}