
.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infos-estimate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.form-estimate {
    margin: 0;
    width: 50vw;
    max-width: 100 vw;
}
.check-input {
    width: 25px;
}