.form{
    background: url(./../img/img-form-desktop.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 90vh;
}
form {
    max-width: 400px;
    margin: 0px auto 0 auto;
    padding-bottom: 65px;
    padding-bottom: 40px;
}
h2 {
    padding-top: 50px;
    color: #353031;
    margin-top: 0px;

}
label {
    display: block;
    margin-bottom: 5px;
}
.input-width {
    width: 80%;
}
textarea{
    width: 100%;
}
input,
textarea {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
label {
    color: white;
    text-shadow: -5px 0px 17px #000000;
}
div {
    margin-bottom: 0px;
}
button {
    background-color: #039DB5;
    color: #353031;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #037b8d;
    border: 1px solid #353031;
}
p {
    margin-top: 20px;
    font-size: 12px;
}
/* Responsive styles for mobile */
@media screen and (max-width: 600px) {
    /* .form{
        background: url(./../img/img-form-desktop.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } */
    form {
        max-width: 100%;
    }
    .input-width {
        width: 60%;
        margin-left: 15px;
    }
    textarea{
        width: 80%;
        margin-left: 15px;
    }
    label{
        margin-left: 10px;
    }
    button {
        background-color: #039DB5;
        color: #353031;
        padding: 10px;
        border: none;
        cursor: pointer;
        margin: 20px 10px;
    }
}
