@font-face {
    font-family: 'Barlow-ExtraLight', sans-serif;
    src: url('asset/fonts/Barlow-ExtraLight.woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: white;
    padding: 165px 0px 0px 50px;
    margin: 0px;
    font-family: 'Barlow-ExtraLight', sans-serif;
}

.subtile {
    padding: 0px 0px 50px 50px;
    font-size: 2.8rem;
}

.cta-header-padding {
    padding: 0px 0px 70px 50px;
}

.cta-header {
    color: white;
    padding: 20px 20px;
    margin: 20px 0px 50px 0px;
    background: #039DB5;
}

.header {
    background: url(./../img/img-banner.webp);
    max-height: 545px;
    background-size: cover;
    background-position: center;
    color: white;
}

/* section content */
.img img {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;

}

.content p {
    font-size: 16px;
}

.content h2 {
    margin: 0;
    font-size: 32px;
}

.content h3 {
    margin: 0;
    font-size: 24px;
}

.content {
    max-width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.text-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.text a {
    color: #353031;
    text-decoration: underline;
}

.text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    justify-content: center;
}

/* section service */
.section-services {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.section-services p {
    font-size: 16px;
    padding-bottom: 20px;
}

.section-services h2 {
    padding-top: 0;
}

.section-services h3 {
    margin-bottom: 0;
}

.section-services h4 {
    margin-top: 10px;
}

.cta-services {
    color: white;
    padding: 20px 20px;
    background: #039DB5;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    max-width: 390px;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    margin: 10px;
    text-align: left;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.service h3 {
    color: #333;
}

.service img {
    height: 290px;
    width: 390px;
}
/* Btn back-top */
.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #039DB5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.myBtn:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 980px) {
    .header {
        max-height: 50vh;
        margin-top: 32vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    h1 {
        display: none;
        position: absolute;
        top: 150px;
        color: #353031;
        font-size: 21px;
        padding: 165px 0px 0px 0px;
    }

    .subtile {
        font-size: 30px;
        padding: 0px 0px 175px 50px;
    }

    .cta-header {
        position: absolute;
        top: 78%;
        left: 25%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 20px 20px;
        margin: 20px 0px 50px 0px;
        background: #039DB5;
    }

    /* content */
    .text-img {
        flex-direction: column-reverse;
    }

    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        justify-content: center;
    }
}