@font-face {
    font-family: 'Barlow-ExtraLight', sans-serif;
    src: url('asset/fonts/Barlow-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Barlow-ExtraLight', sans-serif;
    margin: 0;
    padding: 0;
    color: #353031;
    list-style-type: none;

}

.header-pages {
    background: url(./../img/img-banner.webp);
    max-height: 545px;
    min-height: 300px;
    background-size: cover;
    background-position: center;
}

.mb50 {
    margin-bottom: 50px;
}
.mt30 {
    margin-top: 30px;
}
.check-form {
    margin-left: 0px;
    width: auto;
}

.padding-title {
    padding: 50px 0px 10px 0px;
}

.text-align {
    text-align: center;
}

body a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

/* text */
.blue {
    color: #039DB5;
}

.grey {
    color: #353031;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

/* underline */
.blue-underline {
    color: #039DB5;
    text-decoration: underline;
}

/* map */
.google-map {
    max-height: 50vh;
    width: 100%;
}

.google-map iframe {
    max-height: 55vh;
    width: 100%;
}

.info-location {
    display: flex;
    background: #F3F3F3;
    max-width: 30%;
    margin: 50px auto;
}

ul {
    list-style-type: none;
}

.info-location ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location h2 {
    text-align: center;
}

.location p {
    text-align: center;
    font-size: 16px;
}

/* map contact */
.info-location-contact {
    display: flex;
    background: #F3F3F3;
    margin: 50px auto;
    line-height: 26px;
}

/* <!-- section obituary --> */
.obituary {
    max-height: 350px;
    font-size: 40px;
    background: url("./../img/bougies-rose-rouge.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.obituary-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.obituary p {
    font-size: 16px;
    color: white;
    line-height: 1.5em;
    text-align: center;
    padding: 30px 20px;

}

.obituary h2 {
    text-align: center;
    max-width: 50vw;
    color: white;
    font-size: 45px;

}
.obituary-p{
    margin: 0;
    padding: 0;

}

.cta-obituary {
    color: white;
    padding: 20px 20px;
    background: #039DB5;
}

.title-obituary {
    display: none;
}

/* *********************recherche-avis-deces*************** */
.display-mtb20 {
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.cta-ad {
    width: 20%;
    margin-bottom: 10px;

}

.input-ad {
    width: 50%;
}

.ad {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    height: 450px;
    justify-content: center;
}

.display-ad {
    max-width: 40vw;
    margin: 50px auto;
}

.display-ad ul {
    padding-left: 0;
    max-width: 40vw;


}

.mt50 {
    margin-top: 50px;
}

.recherche-ad {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* pages-connexion  */

.connexion {
    display: flex;
    flex-direction: column;
}

.connexion label {
    color: #353031;
    text-shadow: none;
}

/* ********************** display flex ****************** */
.display-btn-list-ad {
    display: flex;
}

.cta-btn-list-ad {
    border: 1px solid #353031;
    margin-right: 10px;

}

.display-li-ad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.display_list-ad {
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

/* ********************** display notif ****************** */
.notification {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: 50vw;
    margin: auto;
}

.success {
    /* background-color: #4CAF50; */
    color: #4CAF50;
}

.error {
    background-color: #f44336;
    color: white;
}

/* map */
@media screen and (max-width: 960px) {
    .info-location {
        display: flex;
        background: #F3F3F3;
        margin: 50px auto;
        max-width: 100%;

    }

    .iframe-contact {
        width: auto;
        max-height: 70vh;
    }

    .header-pages {
        max-height: 545px;
        min-height: 300px;
        margin-top: 35vh;
    }

    .connexion {
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    body h1 {
        margin-left: 10px;

    }

    /* <!-- section service --> */
    .img img {
        height: 100%;
        width: 100%;
        border-radius: 10px;

    }

    .display {
        display: flex;
        position: absolute;
        top: 60vh;
        color: #353031;
        font-size: 21px;
        padding: 165px 0px 0px 0px;
    }

    /* <!-- section obituary --> */
    .obituary {
        height: 470px;
        font-size: 40px;
        background: url("./../img/bougies-blanches-rose-rouge-mobil.webp");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .obituary h3 {
        font-size: 36px;
    }

    .obituary h2 {
        text-align: center;
        color: #353031;
        font-size: 24px;
        padding-top: 0px;
        margin: 0px;
        display: none;


    }

    .obituary-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .obituary p {
        font-size: 16px;
        color: white;
        line-height: 2em;
        text-align: center;
        padding: 40px 20px;

    }

    .title-obituary {
        display: flex;
        justify-content: center;
    }

    .mt100 {
        margin-top: 100px;

    }

    .display-ad {
        max-width: 100vw;
        margin: 50px auto;
        padding-top: 30px;
    }


}