<!-- <option value="Son epouse">Son épouse</option>
        <option value="Son epoux">Son époux</option>
        <hr>
        <option value="Sa fille">Sa fille</option>
        <option value="Ses filles">Ses filles</option>
        <option value="Son fils">Son fils</option>
        <option value="Ses fils">Ses fils</option>
        <option value="Ses enfants">Ses enfants</option>
        <option value="Son gendre">Son gendre</option>
        <hr>
        <option value="Sa soeur">Sa soeur</option>
        <option value="Ses soeurs">Ses soeurs</option>
        <option value="Son frere">Son frère</option>
        <option value="Ses freres">Ses frères</option>
        <option value="Ses freres et soeurs">Ses frères et soeurs</option>
        <hr>
        <option value="Son petit-fils">Son petit-fils</option>
        <option value="Sa petite-fille">Sa petite-fille</option>
        <option value="Ses petits-enfants">Ses petits-enfants</option>
        <option value="Ses arrière-petit-fils">Ses arrière-petit-fils</option>
        <option value="Ses arrière-petite-fille">Ses arrière-petite-fille</option>
        <option value="Ses arrières-petits-enfants">Ses arrières-petits-enfants</option>
        <hr>
        <option value="Son neveux">Son neuveux</option>
        <option value="Sa niece">Sa nièce</option>
        <option value="Ses neveux">Ses neveux</option>
        <hr>
        <option value="Son cousin">Son cousin</option>
        <option value="Ses cousins">Ses cousins</option>
        <option value="Sa cousine">Sa cousine</option>
        <option value="Ses cousines">Ses cousines</option>
        <hr>
        <option value="Sa tante">Sa tante</option>
        <option value="Ses tantes">Ses tantes</option>
        <option value="Son oncle">Son oncle</option>
        <option value="Ses oncles">Ses oncles</option>
        <option value="Ses oncles et tantes">Ses oncles et tantes</option>
        <hr>
        <option value="Son ami(e)">Son ami(e)</option>
        <option value="Ses ami(e)s">Ses ami(e)s</option>
    </select> -->